version: "3.8"

services:
  web:
    build: .
    command: bash -c "python manage.py makemigrations payouts && python manage.py migrate && uvicorn app.asgi:application --host 0.0.0.0 --port 8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env.docker
    depends_on:
      - db
      - redis

  worker:
    build: .
    command: celery -A app worker --loglevel=info --concurrency=1
    volumes:
      - .:/code
    env_file:
      - .env.docker
    depends_on:
      - redis
      - db

  db:
    image: postgres:15
    env_file:
      - .env.docker
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  test:
    build: .
    command: bash -c "python manage.py makemigrations payouts && python manage.py migrate && pytest"
    volumes:
      - .:/code
    env_file:
      - .env.docker
    environment:
      DJANGO_SETTINGS_MODULE: app.settings
    depends_on:
      - db
      - redis

volumes:
  pgdata: